<div style="margin: 100px 0px 40px 0px">
<h1>Pick your next beautiful van</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-4">
      <% @vans.each do |van| %>
  <%= render "shared/card", van: van %>
<% end %>
    </div>
    <div class="col-4">
      <% @vans.each do |van| %>
  <%= render "shared/card", van: van %>
<% end %>
    </div>
    <div class="col-4">
      <% @vans.each do |van| %>
  <%= render "shared/card", van: van %>
<% end %>
    </div>
  </div>
</div>
