<div style="margin: 100px 0px 40px 0px">
<h1>Pick your next beautiful van</h1>
</div>

<div class="container">
  <div class="row">
    <% @vans.each do |van| %>
      <div class="col-3">
        <div>
          <%= link_to van_path(van) do %>
          <%= render "shared/card", van: van %>
          <% end %>
        </div>
      </div>
     <% end %>
  </div>
</div>
<div>
<%= render "shared/footer" %>
</div>
