<div class="container">
  <%= render "shared/topbar" %>
  <div class="row">
    <% @vans.each do |van| %>
      <div class="col-3">
        <div>
          <%= link_to van_path(van) do %>
          <%= render "shared/card", van: van %>
          <% end %>
        </div>
      </div>
     <% end %>
  </div>
</div>
