  <div class="banner" style="background-image: url(<%= image_path("vanlife")%>);">
    <h1>VanLife 4 Life !</h1>
    <p>Explore the world and yourself !</p>
    <%= link_to "See all vans", "vans_path", class: "btn btn-flat" %>
</div>
