  <div class="banner" style="background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.3)), url(<%= image_path("vanlife")%>);">
    <h1>VanLife 4 Life !</h1>
    <p>Explore the world and yourself !</p>
    <%= link_to "See all vans", vans_path, class: "btn btn-flat" %>
</div>
