<div class="card-van">
  <% if van.image_link.present? %>
    <%= image_tag(van.image_link) %>
  <% end %>
  <div class="card-van-infos">
    <div>
      <h2><%= van.title %></h2>
      <p><%= van.description[0..100] %>...</p>
    </div>
    <h2 class="card-van-pricing"><%= van.price_per_day %></h2>
    <img src="https://kitt.lewagon.com/placeholder/users/random" class="card-van-user avatar-bordered" />
  </div>
</div>
