<div class="topbar">
  <div class="incentive">
    <h2 style="font-family: 'Montserrat', sans-serif;
  font-size: 40px;">Choose your next van</h2>
  </div>
  <div class="tab">
    <div class="tab-links">
      <%= link_to "Retro", vans_path(ca: "Retro"), class: "a" %>
      <%= link_to "High-tech", vans_path(ca: "High-tech"), class: "a" %>
      <%= link_to "Budget", vans_path(ca: "Budget"), class: "a" %>
      <%= link_to "All Vans", vans_path, class: "a" %>
    </div>
  </div>
</div>
