.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: rgba(216, 166, 1, 0.8);
  transition: background 0.3s ease;

}

.btn-flat:hover {
  background: black;
  color: white;
}
