.card-van {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.card-van>img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-van h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-van p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-van .card-van-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-van-infos .card-van-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}
